.index {
    height: 100%;
    padding: 15px 20px 50px;
}

// 头部搜索区
.search-header {
    height: 48px;
    border: 1px solid #e4e5e8;
    border-radius: 5px;
    div:first-child {
        span {
            font-size: 14px;
            margin-left: 22px;
        }
        i {
            font-size: 12px;
            margin: 0 12px 0 6px;
        }
    }
    div:last-child {
        color: #9da0a2;
        border-left: 1px solid #ccc;
        i {
           margin: 0 8px 0 18px; 
        }
    }

}