// 字母对应的每一项城市
.citylist {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.city-letter {
    @mixin bd-pd {
        border-bottom: 1px solid #ccc;
        padding: 0 10px;
    }
    .title {
        background-color: #ccc;
        height: 36px;
        line-height: 36px;
        color: gray;
        @include bd-pd
    } 
    .item {
        height: 50px;
        line-height: 50px;
        @include bd-pd
    }
}

.city-number {
    position: fixed;
    height: 80%;
    top: 10%;
    right: 15px;
    z-index: 9;
    text-align: center;
    li {
        margin-top: 4px;
        &.active {
            background-color: deeppink;
            width: 18px;
            height: 18px;
            line-height: 18px;
            border-radius: 50%;
        }
    }
}